@{
    ViewData["Title"] = "Evaluador Inteligente de Opiniones";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Evaluador Inteligente de Opiniones y Recomendador de Productos</h1>
    <p class="lead">Selecciona una de las opciones para comenzar:</p>

    <div class="mt-4">
        <a href="/Analisis/Sentimiento" class="btn btn-primary btn-lg m-2">Analizar Sentimiento</a>
        <a href="/Recomendacion/Productos" class="btn btn-success btn-lg m-2">Recomendar Productos</a>
    </div>
</div>
